:host {
  display: grid;
  gap: 32px;
  grid-template-columns: 140px 1fr;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-color)
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.dropzone {
  border-radius: 2px;
  border: 1px dashed var(--light-color);
  padding: 16px;
  display: grid;
  place-content: center;
  cursor: pointer;

  &.fileover {
    border: 1px dashed var(--primary-color);
  }
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    width: 52px;
    height: 52px;
  }
}


.avatar-input {
  display: none;
}
