:host {
  display: block;
  padding: 20px 12px;
  background: var(--dark-color);
  position: relative;
}

.main-menu-list {
  display: grid;
  gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  text-decoration: none;

  &.active,
  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);
  }
}

.menu-item svg {
  width: 16px;
  height: 16px;
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribers-link {
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
}

.to-subscribers-icon {
  color: var(--primary-color);
  width: 18px;
  height: 18px;
}

.sidebar__footer {
  position: absolute;
  width: calc(100% - 20px);
  bottom: 20px;
  background: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  gap: 12px;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .username-text {
    font-weight: 700;
    color: var(--primary-color);
  }
}

.settings-btn {
  svg {
    width: 14px;
    height: 14px;
    color: var(--primary-color);
  }
}
