:host {
  display: grid;
  gap: 48px;
  grid-template-columns: 322px 1fr;
}

.profile-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--light-color);
  border-radius: 2px;
  background: var(--dark-color);
  padding: 32px;
  height: calc(100dvh - (24px * 2));
}

.profile-form {
  display: grid;
  gap: 20px;
}

.profile-form--two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.profile-label {
}

.profile-input {

}
