:host {
  display: grid;
  gap: 48px;
  grid-template-columns: 322px 1fr;
}

.profile-form {
  padding: 32px;
  border: 1px solid var(--light-color);
  border-radius: 2px;
  background: var(--dark-color);
  display: grid;
  gap: 20px;
}

.profile-form--two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.profile-label {
}

.profile-input {

}
