.profile-page__header {
  display: grid;
  grid-template-columns: 1fr 340px;
  align-items: center;
  justify-content: space-between;
}

.to-settings-btn {
  width: 190px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.to-settings-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-color);
}

.profile-page__body {
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 64px;
}

.profile-page__sidebar {
  padding: 0 24px;
}

.subscribers-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.subscriber-avatar-btn {
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}

.to-subscriber-search {
  border-radius: 50%;
  background-color: var(--light-color);
  width: 14px;
  height: 14px;
  position: relative;
  margin: 8px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: var(--dark-color);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    transform: translate(-50%, -50%);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.stack-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
