.mt20 {
  margin-top: 20px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb48 {
  margin-bottom: 48px;
}

.mb60 {
  margin-bottom: 60px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}
