@import "fonts";
@import "margins";

:root {
  --dark-color: #000000;
  --dark-hover-color: #161616;
  --light-color: #FFFFFF;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
  --primary-color: #AE7AFF;
  --grey-color: #5F646D;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  min-height: 100dvh;
  background: center / cover no-repeat url(/assets/imgs/background.jpg) ;
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 2px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  height: 24px;
}

.btn {
  width: 100%;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--dark-color)
}

.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -4px;
    right: -4px;
    background: var(--grey-color);
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 21px;
}

.medium-text {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.tt-control-label {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  display: block;
}

.tt-input {
  width: 100%;
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 2px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--light-color);
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tt-form-label__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-transparent-color)
}

.tt-form-input {
  padding: 12px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--light-color);
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--light-color);

  &:focus-visible {
    outline: none;
  }
}

.tt-textarea {
  height: 84px;
  resize: none
}
